.texte
{
    /* text-align: center; */
    margin-top: 2em;
    margin-left: 2em;
    font-size: 20px;
    color: rgb(196, 25, 48);
    
}
 .images
{
    display: flex;
    justify-content: space-around;
    /* width: 1000px; */
} 
.images img
{
    width: 40%; 
    height: 100%;
    margin-left: 135px;
    
}